import * as Style from './styles';

const {{pascalCase name}} = () => {
  return (
    <Style.Wrapper>
      <h1>{{pascalCase name}}</h1>
    </Style.Wrapper>
  );
};

export default {{pascalCase name}};
